<style>


.home-bg-image {
    width: 100%;
    height: auto; 
    max-height: 800px; 
    object-fit: cover;
}

</style>
<%= render partial: 'layouts/loader' %>
<div class="container-fluid p-0" style="overflow: hidden;">
  <div class="row">
    <% @landings.each do |home| %>
      <div class="position-relative p-0">
        <% if home.image.present? %>
         
          <%= image_tag home.image, loading: "eager", class: "img-fluid", alt: "Landing image" %>

        <% else %>
          <p class="text-muted">No image available</p>
        <% end %>
        
        <h5 class="position-absolute bottom-0 start-50 translate-middle-x text-white mb-5 py-2">
          <%= home.text %>
        </h5>
      </div>
    <% end %>



    <%= render partial: 'layouts/newrelease' %>
    <%= render partial: 'layouts/video' %>
    <%= render partial: 'layouts/upcoming_event' %>
  </div>
</div>

