<style>
  .faculty-image {
    max-width: 330px;
    aspect-ratio: 1/1;
    height: auto;
    border-radius: 12px;
    object-fit: fill;
  }

  @media (max-width: 768px) {
    .faculty-image {
      max-width: 330px;
      aspect-ratio: 1/1;
    }
  }

  .w-md-75 {
    width: 100%;
  }

  @media (min-width: 768px) {
    .w-md-75 {
      width: 75% !important;
    }
  }

  /* Animation Classes */
  .fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
  }

  .fade-in.visible {
    opacity: 1;
    transform: translateY(0);
  }
</style>

<div class="container">
  <div class="row fade-in">
    <div class="text-white text-center pt-5">
      <h4 class="caudex-bold m-0"><%= @news.news_name %></h4>
      <h5 class="caudex-bold m-0 pt-2"><%= @news.news_date.strftime("%-d %B %Y") %></h5>
    </div>

    <div class="row mx-auto w-100 w-md-75 justify-content-center">
      <div class="col-12 d-flex justify-content-center fade-in pt-4">
        
                        <% if @news.news_image.present? %>
                  <%= image_tag @news.news_image,
                    loading: "lazy", 
                    class: "img-fluid faculty-image", 
                    alt: "About image" %>
                <% end %>
      </div>

      <div class="col-12 fade-in pt-4">
        <div class="marcellus-regular introduction-description fw-normal text-white text-start">
                        <p><%= @news.news_description %></p>
              <% if @news.news_link.present? %>
              <% @news.news_link.split(' ').each do |link| %>
                <p>
                  <a href="<%= link.strip %>" target="_blank" rel="noopener">
                    <%= link.strip %>
                  </a>
                </p>
              <% end %>
             <% end %>
        </div>
      </div>

      <div class="col-12 mt-3 text-left">
        <a href="/news" style="text-decoration: none;">
          <button class="back-button" style="border: 2px solid grey; border-radius: 12px; color: white;">
            <div class="d-flex justify-content-center align-items-center gap-2 caudex-bold py-2 px-4">
              <i class="bi bi-chevron-left" style="font-size: 20px;"></i>
              <span style="font-size: 20px;">Go Back</span>
            </div>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const elements = document.querySelectorAll('.fade-in');

    const observer = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add('visible');
          observer.unobserve(entry.target);
        }
      });
    }, {
      threshold: 0.1
    });

    elements.forEach(el => observer.observe(el));
  });
</script>
