<style>
    .news-image {
        aspect-ratio: 1/0.85;
        width: 100%;
        object-fit: fill;
    }
    .view-details-btn {
        margin-top: auto; 
    }
    
    .comman-border {
    border: 2px solid grey; 
    box-shadow: 1px 4px 4px rgba(128, 128, 128, 0.5);
    }

      .news-body-text{
        color: white;
        background-color: black;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        min-height: 160px;
        display: flex;
        flex-direction: column;
      }
    
     /* delay loading css */
    .news-card-wrapper {
        opacity: 0;
        transform: translateY(30px);
        transition: opacity 0.5s ease, transform 0.5s ease;
        }

    .news-card-wrapper.visible {
        opacity: 1;
        transform: translateY(0);
        }
</style>
    <%= render partial: 'layouts/loader' %>
    <div class="container">
        <h4 class="text-center text-white pt-md-5 pt-3 caudex-bold">NEWS</h4>
        <div class="row row-cols-xl-3 row-cols-md-2 row-cols-1 pt-md-5 pt-3">
            <% @news.each do |news| %>
            <div class="col mt-4 d-flex justify-content-center">

                <div class="news-card-wrapper" style="position: relative; width: 95%;">
                    <a href="<%= news_path(news) %>" class="news-card-link" style="position: absolute; inset: 0; z-index: 10;"></a>
                    <div class="news-card comman-border" style="width: 100%; position: relative; z-index: 5;">
                        <% if news.news_image.attached? %>
                            <img src="<%= url_for(news.news_image) %>" class="img-fluid news-image" loading="lazy">
                        <% end %>
                        <div class="news-body-text py-3 px-3">
                            <h5 class="caudex-bold"><%= news.news_date.strftime("%d %b %Y") %></h5>
                            <h5 class="caudex-bold"><%= news.news_name %></h5>
                            <!-- <p class="caudex-normal" style="font-size: 17px;"><%= news.news_description.to_plain_text.split[0...6].join(' ') %>...</p> -->
                            <a href="<%= news_path(news) %>" class="text-white view-details-btn caudex-normal">Know More</a>
                        </div>
                    </div>
                </div>
                
            </div>
           <% end %>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const cards = document.querySelectorAll(".news-card-wrapper");

            cards.forEach((card, index) => {
                setTimeout(() => {
                    card.classList.add("visible");
                }, index * 300); 
            });
        });
    </script>




