<style>
    .news-image {
        height: 23rem;
        width: 100%;
        object-fit: fill;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }


    .news-body-text {
        background-color: #2f2c2c;
        color: white;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        min-height: 205px;
        display: flex;
        flex-direction: column;
    }

    .view-details-btn {
        margin-top: auto; 
    }
</style>

<div class="container-fluid px-md-5">
    <h2 class="text-center text-white pt-md-5 pt-3 caudex-bold">NEWS</h2>
    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 pt-md-5 pt-3">
        <% @news.each do |news| %>
            <div class="col mt-4">
                <% if news.news_image.attached? %>
                    <img src="<%= url_for(news.news_image) %>" class="img-fluid news-image">
                <% end %>
                <div class="news-body-text caudex-normal py-3 px-3">
                    <h5><%= news.news_date.strftime("%d %b %Y") %></h5>
                    <h5><%= news.news_name %></h5>
                    <p><%= news.news_description.to_plain_text.split[0...15].join(' ') %>...</p>
                    <a href="<%= news_path(news) %>" class="text-white view-details-btn">Know More</a>
                </div>
            </div>
        <% end %>
    </div>
</div>


