    <style>
        
        @media (min-width: 768px) {
            .show-news-image {
            height: 30rem;
            width: 100%;
            object-fit: contain;
            }
            }

            @media (max-width: 768px) {
            .show-news-image {
            height: 15rem;
            width: 100%;
            object-fit: contain;
            }
            }
            
      @media (min-width: 1024px) {
      .news-black-text-box{
        background-color: #1b1b1b;
        border: 2px solid grey;
        border-radius: 12px;
      }
        }
    </style>

    <div class="container">
        <div class="text-center mt-2 gap-2 d-md-flex justify-content-center text-white mt-5">
            <h5><%= @news.news_date.strftime("%d %b %Y") %></h5>
            <h5><%= @news.news_name %></h5>
        </div>
        <div class="row text-white px-md-5 px-2 pt-md-5 pt-3">
            
          <div class="col-lg-6 pe-md-4">
            <% if @news.news_image.attached? %>
              <img src="<%= url_for(@news.news_image) %>" class="img-fluid show-news-image">
            <% end %>
          </div>

          <div class="col-lg-6 d-flex news-black-text-box">
            <div class="description py-2">
              <p><%= @news.news_description %></p>
              
              <% if @news.news_link.present? %>
              <% @news.news_link.split(' ').each do |link| %>
                <p>
                  <a href="<%= link.strip %>" target="_blank" rel="noopener">
                    <%= link.strip %>
                  </a>
                </p>
              <% end %>
            <% end %>
           </div>
          </div>
          
          <div class="mt-md-5 mt-3">
            <a href="/news" style="text-decoration: none;">
              <button class="back-button mt-3" style="border: 2px solid blue; border-radius: 12px; color: white;">
                <div class="d-flex justify-content-center align-items-center gap-2 caudex-bold py-2 px-4">
                  <i style="font-size: 20px;" class="bi bi-chevron-left"></i>
                  <span style="font-size: 20px;">Go Back</span>
                </div>
              </button>
            </a>
          </div>      
        </div>
    </div>


