
  <style>
  .news-show-image {
    aspect-ratio: 1/1;
    border-radius: 12px;
    object-fit: fill;
    max-width: 500px;
    width: 100%;
    height: auto;
  }

  @media (max-width: 768px) {
    .news-show-image {
      max-width: 300px; 
      aspect-ratio: 1/0.85;
    }
  }

  /* Animation Classes */
    .fade-in {
      opacity: 0;
      transform: translateY(30px);
      transition: opacity 0.8s ease, transform 0.8s ease;
    }

    .fade-in.visible {
      opacity: 1;
      transform: translateY(0);
    }

    /* progressive css */
    .progressive-image {
      filter: blur(20px);
      transition: filter 0.5s ease;
    }

    .progressive-image.loaded {
      filter: blur(0);
    }
  </style>

  <div class="container">
    <div class="row fade-in">

      <div class="text-white text-center py-4 fade-in">
        <p class="caudex-bold m-0" style="font-size: 22px;"><%= @news.news_name %></p>
        <p class="caudex-bold m-0 pt-1" style="font-size: 18px;"><%= @news.news_date.strftime("%-d %B %Y") %></p>
      </div>

      <div class="row mx-auto justify-content-center">
        <div class="d-flex justify-content-center fade-in p-0">
            <% if @news.news_image.present? %>
              <%= image_tag @news.news_image,
                loading: "lazy", 
                class: "img-fluid news-show-image progressive-image", 
                alt: "About image" %>
            <% end %>
        </div>

          <div class="marcellus-regular introduction-description fw-normal text-white text-start fade-in pt-5 description">
            <p><%= @news.news_description %></p>
              <% if @news.news_link.present? %>
              <% @news.news_link.split(' ').each do |link| %>
                <p>
                  <a href="<%= link.strip %>" target="_blank" rel="noopener">
                    <%= link.strip %>
                  </a>
                </p>
              <% end %>
             <% end %>
          </div>
       

        <div class="fade-in">
          <a href="/news" style="text-decoration: none;">
            <button class="back-button" style="border: 2px solid grey; border-radius: 12px; color: white;">
              <div class="d-flex justify-content-center align-items-center gap-2 caudex-bold py-2 px-4">
                <i class="bi bi-chevron-left" style="font-size: 20px;"></i>
                <span style="font-size: 20px;">Go Back</span>
              </div>
            </button>
          </a>
        </div>

      </div>
    </div>
  </div>

  <script>
    // animation js
    document.addEventListener("DOMContentLoaded", function () {
      const elements = document.querySelectorAll('.fade-in');

      const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
          if (entry.isIntersecting) {
            entry.target.classList.add('visible');
            observer.unobserve(entry.target);
          }
        });
      }, {
        threshold: 0.1
      });

      elements.forEach(el => observer.observe(el));
    });

    // progressive image loading
    document.addEventListener("DOMContentLoaded", function () {
      const images = document.querySelectorAll(".progressive-image");

      images.forEach((img) => {
        if (img.complete) {
          img.classList.add("loaded");
        } else {
          img.addEventListener("load", () => {
            img.classList.add("loaded");
          });
        }
      });
    });

    document.addEventListener("DOMContentLoaded", function() {
      document.querySelectorAll(".description a").forEach(function(link) {
        link.setAttribute("target", "_blank");
        link.setAttribute("rel", "noopener");
      });
    });
  </script>
