
  <style>

 @media (min-width: 768px) {
  .box .show-news-image {
    float: left;
    height: 500px;
    width: 500px;
    aspect-ratio: 1/0.85;
    border-radius: 20px;
    object-fit: fill;
  }
  }

  @media (max-width: 767px){
  .box .show-news-image {
    float: left;
    height: 330px;
    width: 500px;
    aspect-ratio: 1/0.85;
    border-radius: 20px;
    object-fit: fill;
  }
  }

  /* progressive css */
    .progressive-image {
      filter: blur(20px);
      transition: filter 0.5s ease;
    }

    .progressive-image.loaded {
      filter: blur(0);
    }
  </style>

  <div class="container">
    
      <div class="py-md-5 py-4 text-white ">
          <h4 class="text-center text-white caudex-bold p-0 m-0"><%= @news.news_name %></h4>
          <h4 class="text-center text-white caudex-bold p-3 m-0"><%= @news.news_date.strftime("%-d %B %Y") %></h4>
      </div>

      <div class="row">
          <div class="box">

                <% if @news.news_image.present? %>
                  <%= image_tag @news.news_image,
                    loading: "lazy", 
                    class: "img-fluid show-news-image progressive-image p-2", 
                    alt: "About image" %>
                <% end %>

            <div class="text text-white px-2 pt-1">
           
              <p style="position: absolute;"><%= @news.news_description %></p>
              <% if @news.news_link.present? %>
              <% @news.news_link.split(' ').each do |link| %>
                <p>
                  <a href="<%= link.strip %>" target="_blank" rel="noopener">
                    <%= link.strip %>
                  </a>
                </p>
              <% end %>
             <% end %>
          
            </div>

          </div>
      </div>

          <div class="mt-md-5 mt-3">
            <a href="/news" style="text-decoration: none;">
              <button class="back-button mt-3" style="border: 2px solid blue; border-radius: 12px; color: white;">
                <div class="d-flex justify-content-center align-items-center gap-2 caudex-bold py-2 px-4">
                  <i style="font-size: 20px;" class="bi bi-chevron-left"></i>
                  <span style="font-size: 20px;">Go Back</span>
                </div>
              </button>
            </a>
          </div> 

   
   </div>

      <script>
        document.addEventListener("DOMContentLoaded", function() {
          document.querySelectorAll(".description a").forEach(function(link) {
            link.setAttribute("target", "_blank");
            link.setAttribute("rel", "noopener");
          });
        });

      // Progressive Image Loading
      document.addEventListener("DOMContentLoaded", function () {
      const images = document.querySelectorAll(".progressive-image");

      images.forEach((img) => {
        if (img.complete) {
          img.classList.add("loaded");
        } else {
          img.addEventListener("load", () => {
            img.classList.add("loaded");
          });
        }
      });
    });
    </script>


 


