<style>
    .project-image {
        aspect-ratio: 3/2.5;
        width: 100%;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    .project-body-text {
        background-color: #2f2c2c;
        color: white;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        min-height: 212px !important;
        display: flex;
        flex-direction: column;
    }

    .view-details-btn {
        margin-top: auto; 
    }
</style>

<div class="container">
    <h2 class="text-center text-white pt-md-5 pt-3 caudex-bold">PROJECTS</h2>
    <div class="row row-cols-xl-3 row-cols-md-2 row-cols-1 pt-md-5 pt-3">
        <% @projects.each do |project| %>
        <div class="col mt-4 d-flex justify-content-center">
            <div class="news-card" style="width: 95%;">
                <% first_detail = project.project_details.first %>
                <% if first_detail && first_detail.image.attached? %>
                    <img src="<%= url_for(first_detail.image) %>" class="img-fluid project-image">
                <% end %>
                <div class="project-body-text py-3 px-3">
                    <h5 class="caudex-bold"><%= project.name %></h5>
                    <% if first_detail %>
                        <p class="caudex-normal m-0" style="font-size: 17px;">
                            <% words = first_detail.description.split(" ") %>
                            <% short_description = words.first(20).join(" ") %>
                            <span class="short-desc"><%= short_description %>...</span>
                            <span class="full-desc d-none"><%= first_detail.description %></span>
                        </p>
                    <% end %>
                    <a href="<%= project_path(project) %>" class="text-white view-details-btn">Know More</a>
                </div>
            </div>
            </div>
        <% end %>
    </div>
</div>
