  <style>
    .project-image {
      aspect-ratio: 1/0.85;
      width: 100%;
      object-fit: fill;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .view-details-btn {
      margin-top: auto; 
    }
    .comman-border {
      border: 2px solid grey; 
      box-shadow: 1px 4px 4px rgba(128, 128, 128, 0.5);
      border-radius: 10px;
    }
    .project-body-text {
      color: white;
      background-color: black;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      min-height: 160px;
      display: flex;
      flex-direction: column;
    }
    /* Remove link underline and set display block on full card link */
    .project-card-link {
      display: block;
      color: inherit;
      text-decoration: none;
    }


  /* delay loading css */
        .project-card-wrapper {
          opacity: 0;
          transform: translateY(30px);
          transition: opacity 0.5s ease, transform 0.5s ease;
          }

      .project-card-wrapper.visible {
          opacity: 1;
          transform: translateY(0);
          }

      /* progressive css */
    .progressive-image {
      filter: blur(20px);
      transition: filter 0.5s ease;
    }

    .progressive-image.loaded {
      filter: blur(0);
    }

  </style>

  <div class="container mx-auto">
     <div class="py-md-5 py-4">
         <h4 class="text-center text-white caudex-bold p-0 m-0">PROJECTS</h4>
     </div>
    <div class="row row-cols-xl-2 row-cols-md-2 row-cols-1 mx-auto" style="width: 70%;">
      <% @projects.each do |project| %>
        <div class="col mt-4 d-flex justify-content-center">
          <div class="project-card-wrapper comman-border" style="width: 95%;">
            
            <%= link_to project_path(project), class: "project-card project-card-link", style: "width: 100%; display: block;" do %>

              <% first_detail = project.project_details.first %>
              <% if first_detail && first_detail.image.attached? %>
                <img src="<%= url_for(first_detail.image) %>" class="img-fluid project-image progressive-image" loading="lazy" alt="<%= project.name %> image">
              <% end %>

              <div class="project-body-text py-3 px-3">
                <h5 class="caudex-bold"><%= project.name %></h5>

                <!-- <% if first_detail && first_detail.youtube_url.present? %>
                  <h5 class="caudex-bold">
                    <a href="<%= first_detail.youtube_url %>" 
                      target="_blank" 
                      rel="noopener noreferrer" 
                      class="text-decoration-underline" 
                      onclick="event.stopPropagation();">
                      <%= first_detail.youtube_url %>
                    </a>
                  </h5>
                <% end %> -->


                <a href="" class="text-white view-details-btn caudex-normal">Know More</a>
              </div>

            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <script>
      document.addEventListener("DOMContentLoaded", () => {
          const cards = document.querySelectorAll(".project-card-wrapper");

          cards.forEach((card, index) => {
              setTimeout(() => {
                  card.classList.add("visible");
              }, index * 300); 
          });
      });

    // progressive image js
    document.addEventListener("DOMContentLoaded", function () {
    const images = document.querySelectorAll(".progressive-image");

      images.forEach((img) => {
        img.addEventListener("load", () => {
          img.classList.add("loaded");
        });
        if (img.complete) {
          img.classList.add("loaded");
        }
      });
    });
  </script>