<style>

      .press-image {
        aspect-ratio: 3/2.6;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }



  .press-body-text {
      /* background-color: #2f2c2c; */
      color: white;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      min-height: 180px !important;
      display: flex;
      flex-direction: column;
      justify-content: center; 
      align-items: left;
      text-align: left; 
  }

    .view-details-btn {
          margin-top: auto; 
      }

    .comman-border {
        color: white;
        text-shadow: 0 1px 0 #000;
        --border-angle: 0turn;
        --main-bg: conic-gradient(from var(--border-angle), #213, #112 5%, #112 60%, #213 95%);
        background: var(--main-bg);
        background-position: center center;
        animation: bg-spin 3s linear infinite;
        border: 3px solid #08f;
        border-radius: 12px;
      }

</style>

<div class="container">
    <h2 class="text-center text-white pt-md-5 pt-3 caudex-bold">INTERVIEWS & ARTICLES</h2>
    <div class="row row-cols-xl-3 row-cols-md-2 row-cols-1 pt-md-5 pt-3">
      <% @press.each do |press| %>
      <div class="col mt-4 d-flex justify-content-center">
       
        <div class="press-card-wrapper" style="position: relative; width: 95%;">
          <a href="<%= press_path(press) %>" class="news-card-link" style="position: absolute; inset: 0; z-index: 10;"></a>
            <div class="project-card comman-border" style="width: 100%; position: relative; z-index: 5;">
                <% if press.image.attached? %>
                  <img src="<%= url_for(press.image) %>" class="img-fluid press-image">
                <% end %>
                <div class="press-body-text py-3 px-3">
                  <h5 class="caudex-bold m-0 text-white"><%= press.date.strftime("%d %b %Y") %></h5>
                  <h5 class="caudex-bold m-0 pt-2 text-white"><%= press.name %></h5>
                  <p class="d-none"><%= press.link %></p>
                  <a href="<%= press.link %>" class="text-white view-details-btn caudex-normal">Know More</a>
                </div>
            </div>
        </div>

      </div>
    <% end %>
    
    </div>
</div>
