  <style>
        .press-image {
        aspect-ratio: 1/0.85;
        width: 100%;
        object-fit: fill;
      }
      .view-details-btn {
            margin-top: auto; 
        }
      .comman-border {
        border: 2px solid grey; 
        box-shadow: 1px 4px 4px rgba(128, 128, 128, 0.5);
      }
        .press-body-text{
          color: white;
          background-color: black;
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;
          min-height: 160px;
          display: flex;
          flex-direction: column;
        }

  /* delay loading css */
   .press-card-wrapper {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    }

   .press-card-wrapper.visible {
    opacity: 1;
    transform: translateY(0);
    }
  </style>
 
  <div class="container">
     <div class="py-md-5 py-4">
         <h4 class="text-center text-white caudex-bold p-0 m-0">IN PRESS</h4>
     </div>
      <div class="row row-cols-xl-3 row-cols-md-2 row-cols-1">
        <% @press.each do |press| %>
        <div class="col mt-4 d-flex justify-content-center">
        
          <div class="press-card-wrapper" style="position: relative; width: 95%;">
            <a href="<%= press.link %>" target="_blank" class="news-card-link" style="position: absolute; inset: 0; z-index: 10;"></a>
              <div class="project-card comman-border" style="width: 100%; position: relative; z-index: 5;">
                  <% if press.image.attached? %>
                    <img src="<%= url_for(press.image) %>" class="img-fluid press-image" loading="lazy">
                  <% end %>
                  <div class="press-body-text py-3 px-3">
                    <h5 class="caudex-bold m-0 text-white"><%= press.date.strftime("%d %b %Y") %></h5>
                    <h5 class="caudex-bold m-0 pt-2 text-white"><%= press.name %></h5>
                    <p class="d-none"><%= press.link %></p>
                    <a href="<%= press.link %>" class="text-white view-details-btn caudex-normal">Know More</a>
                  </div>
              </div>
          </div>

          </div>
        <% end %>
      </div>
  </div>


    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const cards = document.querySelectorAll(".press-card-wrapper");

            cards.forEach((card, index) => {
                setTimeout(() => {
                    card.classList.add("visible");
                }, index * 300); 
            });
        });
    </script>