  <style>
        .press-image {
          aspect-ratio: 3/2.6;
          width: 100%;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
      }
      .view-details-btn {
            margin-top: auto; 
        }
      .comman-border {
          border: 2px solid #08f;
          border-radius: 12px;
          box-shadow: 1px 4px 4px rgba(0, 136, 255, 0.5);
        }
        .press-body-text{
          color: white;
          background-color: #221133;
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;
          min-height: 212px;
          display: flex;
          flex-direction: column;
        }
  </style>

  <div class="container">
      <h2 class="text-center text-white pt-md-5 pt-3 caudex-bold">INTERVIEWS & ARTICLES</h2>
      <div class="row row-cols-xl-3 row-cols-md-2 row-cols-1 pt-md-5 pt-3">
        <% @press.each do |press| %>
        <div class="col mt-4 d-flex justify-content-center">
        
          <div class="press-card-wrapper" style="position: relative; width: 95%;">
            <a href="<%= press.link %>" class="news-card-link" style="position: absolute; inset: 0; z-index: 10;"></a>
              <div class="project-card comman-border" style="width: 100%; position: relative; z-index: 5;">
                  <% if press.image.attached? %>
                    <img src="<%= url_for(press.image) %>" class="img-fluid press-image" loading="lazy">
                  <% end %>
                  <div class="press-body-text py-3 px-3">
                    <h5 class="caudex-bold m-0 text-white"><%= press.date.strftime("%d %b %Y") %></h5>
                    <h5 class="caudex-bold m-0 pt-2 text-white"><%= press.name %></h5>
                    <p class="d-none"><%= press.link %></p>
                    <a href="<%= press.link %>" class="text-white view-details-btn caudex-normal">Know More</a>
                  </div>
              </div>
          </div>

          </div>
        <% end %>
      </div>
  </div>
