    <style>
      @media (min-width: 768px) {
        .upcoming-bg-image {
          width: 100%;
          object-fit: cover;
        }
      }

      @media (max-width: 768px) {
        .upcoming-bg-image {
          width: 100%;
          object-fit: cover;
        }
      }




    </style>


  <div class="container-fluid">
    <div class="row">
      <%= image_tag "upcoming-bg-first-image.png", alt: "Company Logo", class: "img-fluid upcoming-bg-image p-0", loading: "lazy" %>
    </div>

    <div class="container">
      <div class="row">

        <!-- Upcoming Events -->
        <h4 class="text-center text-white caudex-bold m-0 py-5">UPCOMING EVENTS</h4>
        <div class="col-md-8 mx-auto py-5 rounded">
          <% @upcoming_events.each do |upcoming_event| %>
            <div class="event-card mb-4 d-flex flex-column flex-md-row">
              
              <div class="flex-grow-1 text-start text-white pb-3" style="border-bottom: 2px solid grey;">

                <div class="event-date text-nowrap mb-1">
                  <strong><%= upcoming_event.date.strftime("%-d %B %Y") %></strong>
                </div>

                <div class="d-md-flex event-details" style="font-size: 18px;">
                  <div class="col-md-10">
                    <%= upcoming_event.title.to_s %>,
                    <%= upcoming_event.ensemble.to_s %>,
                    <%= upcoming_event.venue %><% if upcoming_event.city.present? %>, <%= upcoming_event.city %><% end %>
                  </div>




                  <div class="col">
                      <% if upcoming_event.link.present? %>
                      <% doc = Nokogiri::HTML.fragment(upcoming_event.link.body.to_s) %>
                      <% anchor = doc.at_css("a") %>
                      <% if anchor && anchor['href'].present? %>
                        
                      <a href="<%= anchor['href'] %>" class="btn btn-dark" target="_blank" rel="noopener noreferrer">
                        <%= anchor.text.presence || "Tickets" %>
                      </a>
                  
                        <% end %>
                      <% end %>
                  </div>

                </div>

              </div>

            </div>
          <% end %>

        </div>

        <!-- Past Events -->
        <h4 class="text-center text-white caudex-bold m-0">PAST EVENTS</h4>
        <div class="col-md-8 mx-auto py-5">

          <% @past_events.each do |past_event| %>
          <div class="event-card mb-4 d-flex flex-column flex-md-row">

             <div class="flex-grow-1 text-start text-white pb-3" style="border-bottom: 2px solid grey;">
             
                <div class="event-date text-nowrap mb-1">
                  <strong><%= past_event.date.strftime("%-d %B %Y") %></strong>
                </div>

              <div class="d-md-flex event-details" style="font-size: 18px;">
                  <div class="col-md-10">
                    <%= past_event.title.to_s %>,
                    <%= past_event.ensemble.to_s %>,
                    <%= past_event.venue %><% if past_event.city.present? %>, <%= past_event.city %><% end %>
                  </div>


                  <div class="col">
                    <% if past_event.link.present? %>
                      <% doc = Nokogiri::HTML.fragment(past_event.link.body.to_s) %>
                      <% anchor = doc.at_css("a") %>
                      <% if anchor && anchor['href'].present? %>
                        
                          <a href="<%= anchor['href'] %>" class="btn btn-dark" target="_blank" rel="noopener noreferrer">
                            <%= anchor.text.presence || "View" %>
                          </a>
                      
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>

            </div>
          <% end %>
        </div>


      </div>
    </div>
  </div>
