  <!-- <style>
    @media (min-width: 768px) {
      .upcoming-bg-image{
      width: 100%;
      height: 45rem;
      object-fit: cover;
    }
    }
    @media (max-width: 768px) {
      .upcoming-bg-image{
      width: 100%;
      height: 22rem;
      object-fit: fill;
    }
    }
    .event-card {
        background: transparent;
        border-radius: 10px;
        color: white;
        transition: background 0.4s ease-in-out;
        border: 2px solid grey;
    }
    .event-card.first-card {
        background: #2f2c2c;
    }
    .event-card:not(.first-card):hover,
    .event-card.active {
        background: #2f2c2c;
        transition: background 1s ease-in-out;
    }
  </style>

  <div class="container-fluid">
    <div class="row">
      <%= image_tag "upcoming-bg-second-image.jpg", alt: "Company Logo", class: "img-fluid upcoming-bg-image p-0", loading: "lazy" %>
    </div>
    <div class="container">
    <h2 class="text-center text-white pt-5 caudex-bold">INTERVIEWS & ARTICLES</h2>
      <% @upcoming_events.each_with_index do |upcoming_event, index| %>
      <div class="event-card py-md-5 py-3 px-4 mt-5 <%= 'first-card' if index == 0 %>">
        <div class="row">
          <div class="col-md-6">
              <p class="event-details m-md-0"><strong><%= upcoming_event.title %></strong></p>
          </div>
          <div class="col-md-6 text-md-end">
            <p class="event-details m-md-0"><strong>Date :</strong> <%= upcoming_event.date.strftime("%B %d, %Y") %></p>
          </div>
        </div>
        <hr class="mt-md-5">
        <div class="row mt-md-5">
          <div class="col-md-3">
            <p class="event-details m-md-0"><strong>Venue :</strong> <%= upcoming_event.venue %></p>
          </div>
          <div class="col-md-3">
            <p class="event-details m-md-0"><strong>Ensemble :</strong> <%= upcoming_event.ensemble %></p>
          </div>
          <div class="col-md-3">
            <p class="event-details m-md-0"><strong>City :</strong> <%= upcoming_event.city %></p>
          </div>
          <div class="col-md-3">
            <p class="event-details m-md-0"><strong>Link :</strong>
                <% if upcoming_event.link.present? %>
                  <%= link_to upcoming_event.link, upcoming_event.link, target: "_blank", rel: "noopener noreferrer", style: "color: rgb(201, 95, 95); word-wrap: break-word; overflow-wrap: break-word;" %>
                <% end %>
            </p>
          </div>
        </div>
      </div>
      <% end %>
      </div>
   </div>

  <script>
  document.addEventListener("DOMContentLoaded", function () {
      let cards = document.querySelectorAll(".event-card:not(.first-card)");

      let observer = new IntersectionObserver((entries) => {
          entries.forEach(entry => {
              if (entry.isIntersecting) {
                  entry.target.classList.add("active");
              } else {
                  entry.target.classList.remove("active");
              }
          });
      }, { threshold: 0.5 });

      cards.forEach(card => observer.observe(card));
  });
  </script> -->



  <div class="px-3">
  
    <div class="container mt-5 bg-white rounded px-4">
  
      <div class="row d-flex align-items-center py-4">
        <div class="col-auto">
          <h5 class="text-muted fst-italic">April 2022</h5>
        </div>
        <div class="col">
          <hr>
        </div>
  
        <div class="col-auto d-flex align-items-center text-white">
         
          <!-- <select class="form-select border-0" aria-label="Default select example" style="width: auto;">
            <option disabled selected>Select</option>
            <option value="1">Month</option>
          </select> -->
        </div>
      </div>
      
      
      <div class="row align-items-start">
        <div class="col-md-2 text-start d-flex align-items-start flex-column">
            <p class="mb-0 text-uppercase fw-bold">Mon</p>
            <h2 class="fw-bold">18</h2>
        </div>
        <div class="col-md-6">
            <p class="mb-1 text-muted">April 18, 2022</p>
            <h3 class="fw-bold fst-italic">Workshop</h3>
            <p class="event-details m-md-0 mb-1" style="font-size: 18px;"><strong>Venue :</strong> Fateh al-Mudarres</p>
            <p class="event-details m-md-0 mb-1 pt-2" style="font-size: 18px;"><strong>Ensemble :</strong>Workshop</p>
            <p class="event-details m-md-0 mb-1 pt-2" style="font-size: 18px;"><strong>City :</strong>Majdal Shams</p>
            <p class="event-details m-md-0 mb-1 pt-2" style="font-size: 18px;"><strong>Link :</strong> https://oud.ssingularitee.com/</p>
            <p class="text-muted pt-2" style="font-size: 18px;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat vitae sequi id amet provident sint! 
                Sequi nesciunt ut velit eius ab fugit. Voluptas pariatur repellat repre
            </p>
        </div>
    </div>
    
    </div>
  
  
    <!-- <div class="container mt-5">
      <div class="row">
          <div class="col-md-6" style="border: 2px solid grey; border-radius: 12px;">
  
            <div class="row text-white">
              <div class="col py-2 text-center">
                <h4 class="pt-1">Events</h4>
              </div>
            </div>
  
            <div class="row text-black bg-white py-2" style="border-bottom-left-radius: 12px; border-bottom-right-radius: 12px; font-size: 18px;">
              <p class="event-details m-0 pt-2"><strong>Workshop</strong></p>
              <p class="event-details m-0 pt-2"><strong>Dte: </strong> <span class="ms-2">April 18, 2022</span></p>
              <p class="event-details m-0 pt-2"><strong>Venue: </strong> <span class="ms-2">Fateh al-Mudarres</span></p>
              <p class="event-details m-0 pt-2"><strong>Ensemble :</strong> <span class="ms-2">Workshop</span></p>
              <p class="event-details m-0 pt-2"><strong>City :</strong> <span class="ms-2">Majdal Shams</span></p>
              <p class="event-details m-0 pt-2"><strong>Link :</strong><span class="ms-2">https://oud.ssingularitee.com/</span></p>
              <p class="event-details m-0 pt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat vitae sequi id amet provident</p>
            </div>
          
          
          </div>
      </div>
    </div> -->
  
  </div>
