<style>
  @media (min-width: 768px) {
    .upcoming-bg-image {
      width: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: 768px) {
    .upcoming-bg-image {
      width: 100%;
      object-fit: cover;
    }
  }

  .event-card {
    background: transparent;
    border-radius: 10px;
    color: white;
    transition: background 0.4s ease-in-out;
    border: 2px solid grey;
  }

  .event-card.first-card {
    background: #2f2c2c;
  }

  .event-card:not(.first-card):hover,
  .event-card.active {
    background: #2f2c2c;
    transition: background 1s ease-in-out;
  }

</style>

<div class="container-fluid">
  <div class="row">
    <%= image_tag "upcoming-bg-first-image.png", alt: "Company Logo", class: "img-fluid upcoming-bg-image p-0", loading: "lazy" %>
  </div>

  <div class="container">
    <div class="row">
      
      <!-- Upcoming Events -->
        <h4 class="text-center text-white pt-5 caudex-bold">UPCOMING EVENTS</h4>
        <div class="mt-5 px-2">
            <% @upcoming_events.each do |upcoming_event| %>
              <div class="mb-5 bg-white rounded px-4 py-4">
                  <div class="d-flex align-items-center gap-3 py-4">
                      <h5 class="text-muted fst-italic mb-0"><%= upcoming_event.date.strftime("%B %Y") %></h5>
                      <p class="mb-0 text-uppercase fw-bold"><%= upcoming_event.date.strftime("%a") %></p>
                      <h4 class="fw-bold mb-0"><%= upcoming_event.date.strftime("%-d") %></h4>
                  </div>

                   <div class="d-flex align-items-center gap-3">
                      <p class="event-details" style="font-size: 18px;"><strong><%= upcoming_event.title.capitalize %></strong></p>
                      <p class="event-details" style="font-size: 18px;"><strong>Ensemble :</strong> <%= upcoming_event.ensemble %></p>
                      <p class="event-details" style="font-size: 18px;"><strong>Venue :</strong> <%= upcoming_event.venue %></p>
                      <p class="event-details" style="font-size: 18px;"><strong>City :</strong> <%= upcoming_event.city %></p>
                      <% if upcoming_event.link.present? %>
                        <div class="event-details" style="font-size: 18px;">
                          <button style="border: none;"><%= upcoming_event.link.body.to_s.html_safe %></button>
                        </div>
                      <% end %>
                  </div>
                </div>
                <% end %>
         </div>

       
     

      <!-- Past Events -->
     
        <h4 class="text-center text-white pt-md-5 caudex-bold">PAST EVENTS</h4>
        <div class="mt-5 px-2">
          <% if @past_events.any? %>
            <% @past_events.each do |past_event| %>
              <div class="mb-5 bg-white rounded px-4 py-4">
                <div class="row d-flex align-items-center py-4">
                  <div class="col-auto">
                    <h5 class="text-muted fst-italic"><%= past_event.date.strftime("%B %Y") %></h5>
                  </div>
                  <div class="col">
                    <hr>
                  </div>
                </div>

                <div class="row align-items-start">
                  <div class="col-md-2 text-start d-flex align-items-start flex-column">
                    <p class="mb-0 text-uppercase fw-bold"><%= past_event.date.strftime("%a") %><br></p>
                    <h4 class="fw-bold"><%= past_event.date.strftime("%-d") %></h4>
                  </div>
                  <div class="col-md-6">
                    <p class="mb-1 text-muted"><%= past_event.date.strftime("%B %-d, %Y") %></p>
                    <h3 class="fw-bold fst-italic m-md-0"><%= past_event.title %></h3>
                    <p class="event-details m-0 pt-2" style="font-size: 18px;"><strong>Ensemble :</strong> <%= past_event.ensemble %></p>
                    <p class="event-details m-0 pt-2" style="font-size: 18px;"><strong>Venue :</strong> <%= past_event.venue %></p>
                    <p class="event-details m-md-0 mb-1 pt-2" style="font-size: 18px;"><strong>City :</strong> <%= past_event.city %></p>
                    <% if past_event.link.present? %>
                      <div class="event-details m-0 pt-2" style="font-size: 18px;">
                        <button style="border: none;"><%= past_event.link.body.to_s.html_safe %></button>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="mt-5 bg-white rounded px-4 py-4">
              <p class="text-center">No past events to display.</p>
            </div>
          <% end %>
        </div>
     
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    let cards = document.querySelectorAll(".event-card:not(.first-card)");

    let observer = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add("active");
        } else {
          entry.target.classList.remove("active");
        }
      });
    }, { threshold: 0.5 });

    cards.forEach(card => observer.observe(card));
  });
</script>
