<style>
  @media (min-width: 768px) {
    .upcoming-bg-image{
    width: 100%;
    /* height: 45rem; */
    object-fit: cover;
  }
  }
  @media (max-width: 768px) {
    .upcoming-bg-image{
    width: 100%;
    /* height: 22rem; */
    object-fit: cover;
  }
  }
  .event-card {
      background: transparent;
      border-radius: 10px;
      color: white;
      transition: background 0.4s ease-in-out;
      border: 2px solid grey;
  }
  .event-card.first-card {
      background: #2f2c2c;
  }
  .event-card:not(.first-card):hover,
  .event-card.active {
      background: #2f2c2c;
      transition: background 1s ease-in-out;
  }
</style>

  <div class="container-fluid">
    <div class="row">
      <%= image_tag "upcoming-bg-first-image.png", alt: "Company Logo", class: "img-fluid upcoming-bg-image p-0", loading: "lazy" %>
    </div>

    <div class="container">
       <h4 class="text-center text-white pt-5 caudex-bold">UPCOMING EVENTS</h4>

        <% @upcoming_events.each_with_index do |upcoming_event, index| %>
          <div class="mt-5 bg-white rounded px-4 py-4">
          <div class="row d-flex align-items-center py-4">
            <div class="col-auto">
             <h5 class="text-muted fst-italic"><%= upcoming_event.date.strftime("%B %Y") %></h5>

            </div>
            <div class="col">
              <hr>
            </div>
    
          </div>
          
          
          
          <div class="row align-items-start">
            <div class="col-md-2 text-start d-flex align-items-start flex-column">
                <p class="mb-0 text-uppercase fw-bold"><%= upcoming_event.date.strftime("%a") %><br></p>
                <h4 class="fw-bold"><%= upcoming_event.date.strftime("%-d") %></h4>
            </div>
            <div class="col-md-6">
                <p class="mb-1 text-muted"><%= upcoming_event.date.strftime("%B %-d, %Y") %></p>
                <h3 class="fw-bold fst-italic"><%= upcoming_event.title %></strong></h3>
                <p class="event-details m-md-0 mb-1" style="font-size: 18px;"><strong>Venue :</strong> <%= upcoming_event.venue %></p>
                <p class="event-details m-md-0 mb-1 pt-2" style="font-size: 18px;"><strong>Ensemble :</strong> <%= upcoming_event.ensemble %></p>
                <p class="event-details m-md-0 mb-1 pt-2" style="font-size: 18px;"><strong>City :</strong> <%= upcoming_event.city %></p>
                <p class="event-details m-md-0 mb-1 pt-2" style="font-size: 18px;"><strong>Link :</strong>              <% if upcoming_event.link.present? %>
                <%= link_to upcoming_event.link, upcoming_event.link, target: "_blank", rel: "noopener noreferrer", style: "color: rgb(201, 95, 95); word-wrap: break-word; overflow-wrap: break-word;" %><% end %></p>
            </div>
        </div>
        </div>
        <% end %>
        
     

       <h4 class="text-center text-white pt-5 caudex-bold">PAST EVENTS</h4>
    </div>
  </div>

<script>
document.addEventListener("DOMContentLoaded", function () {
    let cards = document.querySelectorAll(".event-card:not(.first-card)");

    let observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add("active");
            } else {
                entry.target.classList.remove("active");
            }
        });
    }, { threshold: 0.5 });

    cards.forEach(card => observer.observe(card));
});
</script>



   