<style>
  .music-image {
      aspect-ratio: 1/0.7;
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
  }
  .view-details-btn {
      margin-top: auto;
  }
  .common-border {
      border: 2px solid grey; 
      border-radius: 12px;
      box-shadow: 1px 4px 4px rgba(128, 128, 128, 0.5);
  }
  .music-body-text {
    color: white;
        background-color: black;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        min-height: 185px;
        display: flex;
        flex-direction: column;
  }
</style>

<div class="container">
  <h4 class="text-center text-white pt-md-5 pt-3 caudex-bold">MUSIC</h4>
  <div class="row row-cols-xl-3 row-cols-md-2 row-cols-1 pt-md-5 pt-3">
      <% @musics.each do |music| %>
      <div class="col mt-4 d-flex justify-content-center">
          <div class="music-card-wrapper" style="position: relative; width: 95%;">
              <a href="<%= music_path(music) %>" target="_blank" class="music-card-link" style="position: absolute; inset: 0; z-index: 10;"></a>
              <div class="music-card common-border" style="width: 100%; position: relative; z-index: 5;">
                  <% if music.image.attached? %>
                      <img src="<%= url_for(music.image) %>" class="img-fluid music-image" loading="lazy">
                  <% end %>
                  <div class="music-body-text py-3 px-3 d-flex flex-column h-100">
                      <h5 class="caudex-bold"><%= music.date.strftime("%d %b %Y") %></h5>
                      <h5 class="caudex-bold"><%= music.name %></h5>
                      <p class="caudex-normal" style="font-size: 17px;"><%= music.description.to_plain_text.split[0...8].join(' ') %>...</p>
                      
                      <div class="mt-auto">
                          <a href="<%= music_path(music) %>" class="text-white view-details-btn caudex-normal">Know More</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <% end %>
  </div>
</div>
