  <style>

      @media (min-width: 768px) {
      .show-music-image {
        height: 15rem;
        width: 50%;
        border-radius: 12px;
    }
      }

          @media (max-width: 768px) {
      .show-music-image {
        height: 10rem;
        width: 50%;
        border-radius: 12px;
    }
      }

    .first-row{
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }

      .second-row{
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
        
      .play-button {
        display: none;
      }

      .audio-card .play-button {
        display: none;
      }

      .audio-card:hover .serial-number {
        display: none;
      }

      .audio-card:hover .play-button {
        display: block;
      }

      .audio-card {
        cursor: pointer;
        /* border: 2px solid #454545; */
      }

      .audio-card:hover {
        background-color: #305838; !important;
      }



  </style>

  <div class="container">
      <div class="row text-white px-md-5 px-2">
          <div class="text-center mt-5 justify-content-center gap-2 caudex-bold text-white">
              <h5><%= @music.name %></h5>
              <h5  class="pt-1"><%= @music.date.strftime("%-d %B %Y") %></h5>
          </div>

          <div class="main-row pt-5">
           
            <% if @music.embed_code.present? %>
              <div class="spotify-embed">
               <%= @music.embed_code.html_safe if @music.embed_code.present? %>
              </div>
            <% end %>

          </div>

          <div class="description mt-md-4 mt-2">
              <p><%= @music.description %></p>

              <% if @music.link.present? %>
              <% @music.link.split(' ').each do |link| %>
                <p>
                  <a href="<%= link.strip %>" target="_blank" rel="noopener">
                    <%= link.strip %>
                  </a>
                </p>
                <% end %>
              <% end %>
          </div>
          

          <div class="">
              <a href="/musics" style="text-decoration: none;">
                  <button class="back-button mt-3" style="border: 2px solid grey; border-radius: 12px; color: white;">
                      <div class="d-flex justify-content-center align-items-center gap-2 caudex-bold py-2 px-4">
                          <i style="font-size: 20px;" class="bi bi-chevron-left"></i>
                          <span style="font-size: 20px;">Go Back</span>
                      </div>
                  </button>
              </a>
          </div>
      </div>
  </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
          document.querySelectorAll(".description a").forEach(function(link) {
            link.setAttribute("target", "_blank");
            link.setAttribute("rel", "noopener");
          });
        });
    </script>