    <style>
    .footer-main-div{
      color: white;
      background-color: #141517;
    }
    .footer-nair-icon{
        height: 50%;
        width: 50%;
    }

    @media (min-width: 768px) {
    .footer-links{
       font-size: 14px;
       font-weight: 400;
       letter-spacing: 3px;
    } 
    }
    @media (max-width: 768px) {
    .footer-links{
       font-size: 14px;
       font-weight: 400;
       letter-spacing: 2px;
    } 
    }

    </style>
<div class="container-fluid footer-main-div">
    <div class="row d-flex py-5 px-md-5 px-4">
        
        <!-- logo section -->
        <div class="col-md-4 col-sm-6">
                <div class="nair-logo mt-4">
                    <a href="/" class="logo p-0 m-0">
                        <%= image_tag "logo.png", alt: "logo", class: "footer-nair-icon" %>
                    </a>
                </div>

                <!-- <div class="social-icons mt-4 pt-md-1 text-start d-flex justify-content-start gap-1">
                    <a href=""><%= image_tag "facebook-icon.png", alt: "logo", class: "", style: "height: 45px; width: 100%; object-fit: contain;" %></a>
                    <a href=""><%= image_tag "whatsap-icon.png", alt: "logo", class: "", style: "height: 45px; width: 100%; object-fit: contain;" %></a>
                    <a href=""><%= image_tag "instagram-icon.png", alt: "logo", class: "", style: "height: 45px; width: 100%; object-fit: contain;" %></a>
                    <a href=""><%= image_tag "youtube-icon.png", alt: "logo", class: "", style: "height: 45px; width: 100%; object-fit: contain;" %></a>
                </div> -->
        </div>
        

        <!-- Disclaimer -->
        <div class="col-md-5 col-sm-6">
                           <div class="footer-links mt-4 pt-md-2" style="opacity: 0.8;">
                    <a href="/" class="text-white" style="text-decoration: none;">Home</a> | 
                    <a href="/about" class="text-white" style="text-decoration: none;">About</a> | 
                    <a href="/upcoming_events" class="text-white" style="text-decoration: none;">Events</a> | 
                    <a href="/news" class="text-white" style="text-decoration: none;">News</a> <br>
                    <a href="/projects" class="text-white" style="text-decoration: none;">Projects</a> | 
                    <a href="/musics" class="text-white" style="text-decoration: none;">Music</a> |
                    <a href="/videos" class="text-white" style="text-decoration: none;">Video</a> |
                    <a href="/photos" class="text-white" style="text-decoration: none;">Photos</a> |
                    <a href="/press" class="text-white" style="text-decoration: none;">Press</a>  |
                    <a href="/contacts" class="text-white" style="text-decoration: none;">Contact</a>
                </div>
        </div>

        <!-- Contact Info -->
        <div class="col-md-3 col-sm-6 poppins-regular" style="font-size: 14px; letter-spacing: 2px; word-wrap: break-word; opacity: 0.8;">
                <div class="social-icons mt-4 pt-md-1 text-start d-flex justify-content-start gap-3">
                    <a href=""><%= image_tag "facebook-icon.png", alt: "logo", class: "", style: "height: 45px; width: 100%; object-fit: contain;" %></a>
                    <!-- <a href=""><%= image_tag "whatsap-icon.png", alt: "logo", class: "", style: "height: 45px; width: 100%; object-fit: contain;" %></a> -->
                    <a href=""><%= image_tag "instagram-icon.png", alt: "logo", class: "", style: "height: 45px; width: 100%; object-fit: contain;" %></a>
                    <a href=""><%= image_tag "youtube-icon.png", alt: "logo", class: "", style: "height: 45px; width: 100%; object-fit: contain;" %></a>
                </div>
        </div>

    </div>
</div>