    <style>
    .footer-main-div{
      color: white;
      background-color: #141517;
    }
    .footer-nair-icon{
        height: 50%;
        width: 50%;
    }

    @media (min-width: 768px) {
    .footer-links{
       font-size: 14px;
       font-weight: 400;
       letter-spacing: 3px;
    } 
    }
    @media (max-width: 768px) {
    .footer-links{
       font-size: 14px;
       font-weight: 400;
       letter-spacing: 2px;
    } 
    }

    </style>
<div class="container-fluid footer-main-div">
    <div class="row d-flex py-5 px-md-5 px-4">
        
        <!-- logo section -->
        <div class="col-md-4 col-sm-6">
                <div class="nair-logo">
                    <a href="/" class="logo p-0 m-0">
                        <%= image_tag "logo.png", alt: "logo", class: "footer-nair-icon" %>
                    </a>
                </div>
                <div class="footer-links mt-4 pt-md-2" style="opacity: 0.8;">
                    <a href="/" class="text-white" style="text-decoration: none;">HOME</a> | 
                    <a href="/biography" class="text-white" style="text-decoration: none;">Biography</a> | 
                    <a href="/news" class="text-white" style="text-decoration: none;">News</a> | 
                    <a href="/members" class="text-white" style="text-decoration: none;">Calendar</a> <br>
                    <a href="/projects" class="text-white" style="text-decoration: none;">Projects</a> | 
                    <a href="/coming" class="text-white" style="text-decoration: none;">Music</a> |
                    <a href="/coming" class="text-white" style="text-decoration: none;">Video</a> |
                    <a href="/coming" class="text-white" style="text-decoration: none;">Press</a> |
                    <a href="/coming" class="text-white" style="text-decoration: none;">Contact</a>
                </div>
                <div class="social-icons mt-4 pt-md-1 text-start d-flex justify-content-start gap-1">
                    <a href=""><%= image_tag "facebook-icon.png", alt: "logo", class: "", style: "height: 45px; width: 100%; object-fit: contain;" %></a>
                    <a href=""><%= image_tag "whatsap-icon.png", alt: "logo", class: "", style: "height: 45px; width: 100%; object-fit: contain;" %></a>
                    <a href=""><%= image_tag "instagram-icon.png", alt: "logo", class: "", style: "height: 45px; width: 100%; object-fit: contain;" %></a>
                    <a href=""><%= image_tag "youtube-icon.png", alt: "logo", class: "", style: "height: 45px; width: 100%; object-fit: contain;" %></a>
                   
                </div>
        </div>
        

        <!-- Disclaimer -->
        <div class="col-md-5 col-sm-6 mt-4">
            <p class="m-0 poppins-regular" style="font-size: 12px; letter-spacing: 2px; opacity: 0.8;">
                Ye change karna hoga. It should be The content on <br> this website is for informational purposes only. <br> This does not provide financial, legal or professional <br> advice and is not responsible for any decisions made based <br> on the information here. 
                <br><br> 
                Business is subject to approval and compliance with our <br> guidelines. We reserve the right to update content, <br> policies, and terms without prior notice.
            </p>
        </div>

        <!-- Contact Info -->
        <div class="col-md-3 col-sm-6 poppins-regular mt-4" style="font-size: 12px; letter-spacing: 2px; word-wrap: break-word; opacity: 0.8;">
            <p class="m-0">Email - example@gmail.com</p>
            <p class="m-0 pt-4">Phone - +425-236-845-5624</p>
            <div class="pt-4">
              <!-- <p class="m-0">Address - Unit no. 8, Plot No. 20/21, <br> Sector 20B, Airoli, Thane, Maharashtra, India, 400708</p> -->
            </div>
        </div>

    </div>
</div>