    <style>
    .footer-main-div{
      color: white;
      background-color: #141517;
    }
    @media (max-width: 768px) {
    .navbar-logo {
        height: 40px; 
        width: 130px; 
    }
   }

    @media (min-width: 768px) {
    .footer-links{
       font-size: 14px;
       font-weight: 400;
       letter-spacing: 3px;
    } 
    }
    @media (max-width: 768px) {
    .footer-links{
       font-size: 14px;
       font-weight: 400;
       letter-spacing: 2px;
    } 
    }

     @media (min-width: 768px) {
    .copyright{
        font-size: 20px;
    }
    }

    @media (max-width: 768px) {
    .copyright{
        font-size: 14px;
    }
    }
    .footer-nair-icon{
        height: 50px;
        width: 150px;
        object-fit: contain;
    }


    </style>
<div class="container-fluid footer-main-div">
    <div class="row d-flex py-3 px-4">
        
        <!-- logo section -->
        <div class="col-md-4 px-md-4 text-start">
                <div class="nair-logo">
                    <a href="/" class="logo">
                        <%= image_tag "logo.png", alt: "logo", class: "footer-nair-icon" %>
                    </a>
                </div>
        </div>
        

        <!-- Disclaimer -->
            <div class="col-md-4 d-flex justify-content-md-center align-items-center" style="opacity: 0.8;">
            <% if @landings.present? && @landings.last&.text.present? %>
                <p class="text-white copyright mb-0 pt-md-0 pt-3">
                <%= @landings.last.text %>
                </p>
            <% end %>
            </div>



        <!-- Contact Info -->
            <div class="col-md-4 poppins-regular d-flex justify-content-md-center align-items-md-center flex-column" style="font-size: 14px; letter-spacing: 2px; word-wrap: break-word; opacity: 0.8;">
            <div class="social-icons d-flex justify-content-md-center align-items-md-center gap-2 mt-md-2 mt-3">
                <a href="https://www.facebook.com/nizarrohana2" target="_blank" rel="noopener noreferrer">
                <%= image_tag "facebook-icon.png", alt: "Facebook Logo", style: "height: 45px; object-fit: contain;" %>
                </a>
                <a href="https://www.instagram.com/nizarrohana/" target="_blank" rel="noopener noreferrer">
                <%= image_tag "instagram-icon.png", alt: "Instagram Logo", style: "height: 45px; object-fit: contain;" %>
                </a>
                <a href="https://www.youtube.com/@nizarrohana" target="_blank" rel="noopener noreferrer">
                <%= image_tag "youtube-icon.png", alt: "YouTube Logo", style: "height: 45px; object-fit: contain;" %>
                </a>
                <a href="https://open.spotify.com/artist/44aAXFZFMN1SHkD3z8rQZ7" target="_blank" rel="noopener noreferrer">
                <%= image_tag "spotify-icon.png", alt: "Spotify Logo", style: "height: 45px; object-fit: contain;" %>
                </a>
            </div>
            </div>



    </div>
</div>