<style>
  @media (min-width: 768px) {
    .upcoming-bg-image {
      width: 100%;
      height: 45rem;
      object-fit: cover;
    }
  }

  @media (max-width: 768px) {
    .upcoming-bg-image {
      width: 100%;
      height: 22rem;
      object-fit: fill;
    }
  }


    @media (min-width: 768px) {
  .event-card {
    background: white;
    border-radius: 10px;
    color: black;
    transition: background 0.4s ease-in-out;
    border: 2px solid #ccc;
    margin-bottom: 2rem;
    padding: 1rem;
    min-height: 320px;
  }
  }

      @media (min-width: 768px) {
  .event-card {
    background: white;
    border-radius: 10px;
    color: black;
    transition: background 0.4s ease-in-out;
    border: 2px solid #ccc;
    margin-bottom: 2rem;
    padding: 1rem;
    min-height: 336px;
  }
  }

  .event-card:hover {
    background: #f9f9f9;
  }

  .event-details {
    font-size: 18px;
    color: black;
  }

  h3, h4, h5, p {
    color: black !important;
  }

  a {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
</style>


<div class="container-fluid">
  <div class="container">
  <div class="row py-5">
    <h4 class="text-center text-white caudex-bold p-0 m-0">UPCOMING EVENTS</h4>
  </div>

    <div class="row px-md-0 px-3">
      <% @upcoming_events.each_with_index do |upcoming_event, index| %>
        <div class="col-md-6">
          <div class="event-card">
            <div class="row d-flex align-items-center py-2">
              <div class="col-auto">
                <h5 class="fst-italic"><%= upcoming_event.date.strftime("%B %Y") %></h5>
              </div>
              <div class="col">
                <hr>
              </div>
            </div>

            <div class="row align-items-start">
              <div class="col-md-3 text-start d-flex flex-column align-items-start">
                <p class="mb-0 text-uppercase fw-bold"><%= upcoming_event.date.strftime("%a") %></p>
                <h4 class="fw-bold"><%= upcoming_event.date.strftime("%-d") %></h4>
              </div>
              <div class="col-md-9">
                <!-- <p class="mb-1 text-muted"><%= upcoming_event.date.strftime("%B %-d, %Y") %></p> -->
                 <h3 class="fw-bold fst-italic m-md-0"><%= upcoming_event.title.capitalize %></h3>
                 <p class="event-details m-0 pt-2" style="font-size: 18px;"><strong>Ensemble :</strong> <%= upcoming_event.ensemble %></p>
                 <p class="event-details m-0 pt-2" style="font-size: 18px;"><strong>Venue :</strong> <%= upcoming_event.venue %></p>
                 <p class="event-details m-0 pt-2" style="font-size: 18px;"><strong>City :</strong> <%= upcoming_event.city %></p>
                 <p class="event-details m-0 pt-2 text-blue" style="font-size: 18px;"><strong>Link :</strong> <% if upcoming_event.link.present? %>
                 <%= link_to upcoming_event.link, upcoming_event.link, target: "_blank", rel: "noopener noreferrer", style: "word-wrap: break-word; overflow-wrap: break-word;" %><% end %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <div class="py-2">
    <%= link_to upcoming_events_path, class: "text-white text-center d-block caudex-bold text-decoration-underline" do %>
      <h4 class="text-white">SHOW MORE</h4>
    <% end %>
  </div>
  </div>
</div>



