


  <div class="container-fluid">
    <div class="container">
      <div class="row">

        <!-- Upcoming Events -->
          <div class="py-5">
           <h4 class="text-center text-white caudex-bold p-0 m-0">UPCOMING EVENTS</h4>
           </div>
        <div class="col-md-8 mx-auto px-4">
          <% @upcoming_events.each do |upcoming_event| %>
            <div class="event-card mb-4 d-flex flex-column flex-md-row">
              
              <div class="flex-grow-1 text-start text-white pb-3" style="border-bottom: 2px solid grey;">

              <div class="event-date d-flex align-items-center justify-content-between gap-2 mb-1 text-nowrap caudex-bold text-white">
                <strong><%= upcoming_event.date.strftime("%-d %B %Y") %></strong>
                <% if upcoming_event.link.present? %>
                  <% doc = Nokogiri::HTML.fragment(upcoming_event.link.body.to_s) %>
                  <% anchor = doc.at_css("a") %>
                  <% if anchor && anchor['href'].present? %>
                    <a href="<%= anchor['href'] %>" class="btn btn-dark ms-2" target="_blank" rel="noopener noreferrer">
                      <%= anchor.text.presence || "Tickets" %>
                    </a>
                  <% end %>
                <% end %>
              </div>


                <div class="caudex-bold text-white d-md-flex event-details" style="font-size: 18px;">
                <div class="col-md-10">
                  <%= [
                    upcoming_event.title.presence,
                    upcoming_event.ensemble.presence,
                    upcoming_event.venue.presence,
                    upcoming_event.city.presence
                  ].compact.join(", ") %>
                </div>

                </div>

              </div>

            </div>
          <% end %>
        </div>
        </div>
        
        <div class="py-2">
          <%= link_to upcoming_events_path, class: "text-white text-center d-block caudex-bold text-decoration-underline" do %>
            <h4 class="text-white">All Events</h4>
          <% end %>
        </div>
    </div>
  </div>
