<!DOCTYPE html>
<html>
  <head>
    <title>WebsiteTemplate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>


    <link rel='stylesheet' id='gutenverse-frontend-style-css' href='https://fse.jegtheme.com/randai/wp-content/plugins/gutenverse/lib/framework/assets/css/frontend.css?ver=1.2.0' media='all' />
    <link rel='stylesheet' id='gutenverse-form-frontend-css' href='https://fse.jegtheme.com/randai/wp-content/plugins/gutenverse-form/assets/css/frontend.css?ver=1.1.9' media='all' />
    <link rel='stylesheet' id='gutenverse-frontend-css' href='https://fse.jegtheme.com/randai/wp-content/plugins/gutenverse/assets/css/frontend.css?ver=2.2.0' media='all' />
    <link rel='stylesheet' id='gutenverse-frontend-icon-css' href='https://fse.jegtheme.com/randai/wp-content/plugins/gutenverse/lib/framework/assets/dist/frontend-icon.css?ver=1.2.0' media='all' />
    
    <%= stylesheet_link_tag "style.css" %>
    <%= stylesheet_link_tag "frontend-essential.css" %>
    <%= stylesheet_link_tag "gutenverse-content-29-963903.css" %>
    <%= stylesheet_link_tag "all.min.css" %>
    <%= stylesheet_link_tag "gtnicon.css" %>


    
  </head>

  <body>
		<%= render "layouts/navbar" %>
    <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= render "layouts/footer" %>
      <%= javascript_include_tag "corefrontend" %>
      <%= javascript_include_tag "profrontend" %>
      <%= javascript_include_tag "email-decode.min" %>
  </body>
</html>
