<!DOCTYPE html>
<html>
  <head>
    <title>WebsiteTemplate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>



    <%= stylesheet_link_tag "frontend-first.css" %>
    <%= stylesheet_link_tag "frontend-second.css" %>
    <%= stylesheet_link_tag "frontend-icon.css" %>
    <%= stylesheet_link_tag "frontend-third.css" %>
    <%= stylesheet_link_tag "style.css" %>
    <%= stylesheet_link_tag "frontend-essential.css" %>
    <%= stylesheet_link_tag "gutenverse-content-29-963903.css" %>
    <%= stylesheet_link_tag "all.min.css" %>
    <%= stylesheet_link_tag "gtnicon.css" %>


    
  </head>

  <body>
		<%= render "layouts/navbar" %>
    <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= render "layouts/footer" %>
      <%= javascript_include_tag "corefrontend" %>
      <%= javascript_include_tag "frontend-first" %>
      <%= javascript_include_tag "frontend-second" %>
      <%= javascript_include_tag "profrontend" %>
      <%= javascript_include_tag "frontend-third" %>
      <%= javascript_include_tag "email-decode.min" %>
  </body>
</html>
